body{
    margin: 0;
    font-family: sans-serif;
}
.container,.container-img{
    padding: 1.25rem;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: .875rem;
}
.header{
    font-size: 1.875rem;
    font-weight: bold;
    margin: 1rem 0;
    text-decoration: none;
    color: white;
}
nav ul{
    display: flex;

}
nav li{
    margin: 0 1rem;
}

.desktop-menu{
    display: none;
    font-size: 1rem;
    
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover,nav a:focus{
    color: black;
}
span{
    font-size:30px;
    cursor:pointer;
    color: white;
}
/* Topsection */
.mobile-hero{
    background-image: url(images/mobile/image-hero.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.head-text{
    border: 2px solid white;
    font-size: 1.8rem;
    margin: 2rem 0;
    text-transform: uppercase;
    color: white;
    padding: 1rem;
    margin: 8rem 0;
}
h1{
    margin: 0;
}
/* section2 */
#section2{
    padding-top: 15%;
}
/* Images mobile and desktop*/
.image-mobile{
    width: 100%;
    height: 100%;
}
.image-desktop{
    width: 100%;
    height: 100%;
    display: none;
}
.textsection{
    
}
h2{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;
    padding: 0 10%;
}
.text-padding{
    font-size: 1rem;
    padding: 0 10%;
    line-height: 1.5;
}
p{
    color: #707070;
    text-align: center;
}  
.head-button{
    display: flex;
    flex-direction: column;
}
.button{
    border: 2px solid  black;
    padding: .5rem 1rem;
    text-align: center;
    margin:  auto;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    display: none;
}
.button2{
    display: block;
    border: 2px solid  black;
    padding: .5rem 1rem;
    text-align: center;
    margin: 0 30%;
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}
/* ALL-IMAGE-ROW */
.row-text{
    color: white;
    font-size: 1.5rem;
    text-align: left;
    font-weight: lighter;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.image-all{
    
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.img1{
    background-image: url(images/mobile/image-deep-earth.jpg);
}
.img2{
    background-image: url(images/mobile/image-night-arcade.jpg);
}
.img3{
    background-image: url(images/mobile/image-soccer-team.jpg);
}
.img4{
    background-image: url(images/mobile/image-grid.jpg);
}
.img5{
    background-image: url(images/mobile/image-from-above.jpg);
}
.img6{
    background-image: url(images/mobile/image-pocket-borealis.jpg);
}
.img7{
    background-image: url(images/mobile/image-curiosity.jpg);
}
.img8{
    background-image: url(images/mobile/image-fisheye.jpg);
}
/* footer */
footer{
    margin-top: 3rem;
    background-color: black;
    padding: 2rem 0;
    text-align: center;
}

.icons{
  display: none;
}
.icon,.icon2{
    margin: 0 .65rem;
    color: white;
}

footer ul{
    padding: 0;
    margin: 2rem 0;
   
}
footer ul li{
 margin: 1rem 2rem 1rem 0;
 text-decoration: none;
}
footer ul li a{
    text-decoration: none;
    color: white;

}
/* special navbar */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
@media (min-width: 900px){
    .container{
        margin: 0% 10%;
    }
    .container-padding{
        padding: 0;
    }
    .container-hero{
        background-image: url(images/desktop/image-hero.jpg);
        background-size: 100%;
    }
    .desktop-menu{
        display: block;
        text-decoration: none;
    }
    span{
        display: none;
    }
    .head-text{
        width: 400px;
    }

    .image-mobile{
        display: none;
    }
    .image-desktop{
        display: block;
        width: 50%;
    }
    .section2{
        display: flex;
    }
    .container-img{
        margin-left: 10%;
        padding: 0;
    }
    .textsection{
        width: 50%;
        position: relative;
        text-align: left;
        top: 100px;
        right: 100px;
        padding: 5%;
        background-color: white;
    }
    .textalign{
        text-align: left;
        padding: 0;
        line-height: 1;
    }
    
    #section3{
        margin-top: 10%;
    }
    .head-button{
        flex-direction: row;
        justify-content: space-between;
    }
    .rowhead{
        padding: 0;
        width: 90%;
        text-align: left;
    }
    .button{
        font-size: 1.25rem;
        display: block;
    }
    .row{
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;
    }
    .row-text{
        padding-top: 12rem;
    }
    .image-all{
    width: 20%;
    background-size: 100%;
    height: 300px;
    }
    .img1{
        background-image: url(images/desktop/image-deep-earth.jpg);
    }
    .img2{
        background-image: url(images/desktop/image-night-arcade.jpg);
    }
    .img3{
        background-image: url(images/desktop/image-soccer-team.jpg);
    }
    .img4{
        background-image: url(images/desktop/image-grid.jpg);
    }
    .img5{
        background-image: url(images/desktop/image-from-above.jpg);
    }
    .img6{
        background-image: url(images/desktop/image-pocket-borealis.jpg);
    }
    .img7{
        background-image: url(images/desktop/image-curiosity.jpg);
    }
    .img8{
        background-image: url(images/desktop/image-fisheye.jpg);
    }
    .button2{
        display: none;
    }
    footer{
        margin-top: 10%;
        padding: 5% 10%;
    }
    .footer-head{
        display: flex;
        justify-content: space-between;
    }
    .icons{
        display: block;
        margin: 1rem;
    }
    .footer-foot{
        display: flex;
        justify-content: space-between;
    }
    footer ul{
       display: flex;
       margin: 0;
    }
    .icon-2{
        display: none;
    }
}